<!DOCTYPE html>
<html>
<head>
  <title>Sns</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= link_to 'GetData', get_path %>
<% info = Info.new(data: 1, comment: "test2") %>
<%= link_to 'PostData', post_path(info: {data: info.data, comment: info.comment }), method: :post %>
</body>
</html>
